*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.849);
    font-family: cursive;
}

.titulo{
    margin-top: -30px;
    color: white;
    font-size: 3em;
}

section{
    height: 100vh;
    display: flex;     
    align-items: center;
    justify-content: center;
}

#Insert-Sort{
    text-align: center;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 5px;
}

#Merge-Sort{
    text-align: center;
    width: 30%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.493);
}

.array{
    width: 60%;
    height: 13%;
    display: flex;
    margin: 0.5em auto;
}

.txtMS{
    width: 20%;
    margin: 1px;
    text-align: center;
    font-size: 1.8em;
    font-family: cursive;
    border: none;
    cursor: default;
    outline: none;
    background-color: red;
    position: relative;
}

.txtIS{
    width: 20%;
    margin: 1px;
    text-align: center;
    font-size: 1.8em;
    font-family: cursive;
    border: none;
    cursor: default;
    outline: none;
    background-color: red;
    position: relative;
}

.styleboton{
    width: auto;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 15px;
    font-family: cursive;
    background-color: rgba(50, 252, 0, 0.575);
    border-color: rgb(37, 37, 37);
    border-radius: 1em;
    outline: none;
    border-radius: 5px;
}

.styleboton:hover{
    background-color:  rgb(50, 252, 0);
    cursor: pointer;
}

.boton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

@media(max-width: 900px){
    section{
        display: flex;
        flex-direction: column;
    }

    .array{
        height: 17%;
        width: 60%;
    }

    .txtMS{
        width: 60%;
        height: 100%;
    }

    #Insert-Sort{
        width: 80%;
    }

    #Merge-Sort{
        width: 80%;
    }

    #botones{
        display: flex;
        flex-direction: row;
    }

    .styleboton{
        margin-bottom: 1.9em;
        font-size: 1.2em;
    }
}