*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(63, 63, 63);
    font-family: cursive;
    font-size: 2em;
}

.titulo{
    margin-top: -16px;
    color: white;
}

section{
    height: 100vh;
    display: flex;     
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

#Insert-Sort{
    text-align: center;
    width: 30%;
    height: 50%;
    background-color: rgba(29, 0, 46, 0.527);
    border-radius: 5px;
}

#Merge-Sort{
    text-align: center;
    width: 30%;
    height: 50%;
    border-radius: 5px;
    background-color: rgba(29, 0, 46, 0.527);
}

.array{
    width: 60%;
    height: 10%;
    display: flex;
    margin: 0.5em auto;
}

input{
    width: 20%;
    margin: 1px;
}

.styleboton{
    width: auto;
    margin: 0.5em;
    padding: 0.5em;
    font-family: cursive;
    font-size: 60%;
    background-color: rgba(255, 255, 255, 0.329);
    border-color: rgb(37, 37, 37);
    border-radius: 1em;
    outline: none;
}

.styleboton:hover{
    background-color:  rgba(66, 66, 66, 0.301);
    color: white;
    cursor: pointer;
}

#botones{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    section{
        display: flex;
        flex-direction: column;
        padding: 1em 0.1em;
    }

    .array{
        height: 13%;
        width: 50%;
    }

    #Insert-Sort{
        width: 50%;
    }

    #Merge-Sort{
        width: 50%;
    }

    #botones{
        display: flex;
        flex-direction: row;
    }

    .styleboton{
        margin-bottom: 1em;
    }
}